@font-face {
    font-family: "armin";
    src: url("./assets/fonts/armingrotesk-normal.otf");
}
*{
    margin: 0;
    --smooth-blue: #381fd1;
    --dark-blue: #11284b;
    --footer-blue: #10284b;
    --bone: #f6f6eb;
    font-family: 'armin';
}

button{
    cursor: pointer;
}
header {
    background-color: #f6f6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

header img{
    width: 2rem;
    aspect-ratio: 1/1;
}

header button:not(.trial){
    /* margin: 0 5rem; */
    border: 0;
    background-color: #ffffff00;
    /* font-size: .9rem; */
    color: var(--smooth-blue);
    font-weight: 700;
    border: 2px solid #ffffff00;
    border-radius: .35rem;
    padding: .25rem .5rem;
    transition: all .5s ease-in-out;
}

header button:not(.trial):hover{
    border: 2px solid var(--smooth-blue);

}


header *{
    margin-right: 2.5rem;
}

.trial{
    background-color: var(--smooth-blue);
    color: #fff;
    border: 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 700;
}

.trial:hover{
    background-color: #877dc7;
}

/* main */














/* footer */

footer{
    background-color: var(--footer-blue);
    color: #fff;
    padding: 4rem;
}
.title{
    /* border: 2px dotted var(--bone); */
    display: flex;
    justify-content: space-between;
}

.title div{
    /* border: 2px solid red; */
    width: 55%;
    font-size: 3.5rem;
    color: var(--bone);
    font-weight: 700;
}

.title>img{
    /* border: 2px solid var(--bone); */
    width: 10%;
}

.columns{
    /* border: 2px double orangered; */
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.entry{
    font-weight: 600;
    margin: .4rem 0;
}
.col-title{
    font-weight: 600;
}

.last{
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: space-between;
    margin-top: 1.75rem;
    /* padding: 0 1.5rem; */
}

.icons{
    display: flex;
    /* border: 2px solid red; */
}

.icons div{
    margin-right: .5rem;
}

.copyright{
    font-weight: 600;
    color: rgb(226, 226, 78);
    word-spacing: 10px;
    letter-spacing: 1px;
}