*{
    margin: 0;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

body{
    position: absolute;
    top:2rem;
}
img{
    border: 2px dotted red;
}

.bg{
    background-color: rgb(255, 230, 234);
    /* height: 70vh; */
    display: flex;
    align-items: center;
    padding: 6rem;
}

.main{
    display: flex;
    border: 2px solid black;
    height: 80%;
    /* width: fit-content; */
    /* justify-content: center; */
    flex-flow: row wrap;
    border-radius: 1rem;
}

.info{
    border: 2px solid gold;
}