*{
    --brd : 2px solid red;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

button{
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;    
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.nav-tab{
    position: fixed;
    /* border: var(--brd); */
    width: 22rem;
    padding: .2rem;
    
    display: flex;
    justify-content: space-around;
    height: 3rem;
    border-radius: 2rem;
    background-color: #e8e5e480;
}

.nav-tab button{
    width: 6rem;
    border: 0;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: #ffffff00;
}

.first{
    /* border: var(--brd); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-text{
    /* border: var(--brd); */
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.2px;
}

.expertise{
    display: flex;
    /* justify-content: center; */
    padding: .5rem;
}

.expertise div{
    margin: 0 .75rem;
    font-size: .8rem;
    padding: .5rem;
}

.expertise-child{
    border-radius: 2rem;
    background-color: #fafafa;

}

.img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.cell{
    /* border: var(--brd); */
    border-radius: 2rem;
}

.cell img{
    width: 90%;
    height: 28rem;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: 2rem;
}




.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    margin: 5rem 0;
}
.work div{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: .5px;
}

.work-sub{
    color: rgba(0, 0, 0, 0.5);
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 2rem;
}

.social{
    display: flex;
}

.social div{
    margin: 0 1rem;
}